<!--
<div class="page-header">
    <h1>Time Tracker</h1>
  </div>

  <div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
  </div>

  <form ng-submit="logIn()"
    style="margin-top:30px;">
    <h3>Log In</h3>

    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Username"
      ng-model="user.username"></input>
    </div>
    <div class="form-group">
      <input type="password"
      class="form-control"
      placeholder="Password"
      ng-model="user.password"></input>
    </div>
    <button type="submit" class="btn btn-primary">Log In</button>
  </form>
-->




<!-- Form Mixin-->
<!-- Input Mixin-->
<!-- Button Mixin-->
<!-- Pen Title-->
<div class="pen-title">
  <h1>Time Tracker</h1>
</div>
<!-- Form Module-->
<div class="module form-module">
   <div class="toggle">
  
  </div>
  <div class="form" >
    <h2>Login to your account</h2>
    <form ng-submit="logIn()">
      <input type="text" placeholder="Username" ng-model="user.username"/>
      <input type="password" placeholder="Password" ng-model="user.password"/>
      <button type="submit">Login</button>
    </form>
  </div>

  <div class="cta"><a href="http://andytran.me">Forgot your password?</a></div>
</div>
    

        <!--<script src="js/index.js"></script>-->

    
    
