<!-- Form Mixin-->
<!-- Input Mixin-->
<!-- Button Mixin-->
<!-- Pen Title-->
<div class="pen-title">
  <h1>Time Tracker</h1>
</div>

<!-- Form Module-->
<div class="module form-module">
  <div class="toggle">
  
  </div>

  <div class="form">
    <h2>Create an account</h2>
    <form ng-submit="register()">
      <input type="text" placeholder="Username" ng-model="user.username"/>
      <input type="password" placeholder="Password" ng-model="user.password"/>
        <input type="text" placeholder="User Initials" ng-model="user.userinitials"/>
      <input type="email" placeholder="Email Address" ng-model="user.email"/>
      <button type="submit">Register</button>
    </form>
  </div>
  <div class="cta"><a href="#">Forgot your password?</a></div>
</div>
 
    
    
    

